<li>
  <%= link_to image_tag(user.avatar, size: "50"), user %>
  <%= link_to user.name, user %>
  <% if current_user.present? && current_user.admin? && !current_user?(user) %>
    | <%= link_to t("delete"), user, method: :delete,
      data: { confirm: t("sure?") } %>
  <% end %>
</li>
