<li>
  <div class="row">
    <div class="col-md-6">
      <%= content_category category_counter, category %>
    </div>
    <div class="col-md-6">
      <%= content_category category_counter + 1, category %>
    </div>
  </div>
</li>
