<div class="row">
  <div class="col-md-6">
    <%= content_category Settings.zero, @category %>
  </div>
  <div class="col-md-6">
    <div class="lession">
      <%= link_to t("lesson.take"), lessons_path(category_id: @category.id),
        method: :post, class: "link_button" if logged_in? %>
    </div>
    <%= content_category Settings.one, @category %>
  </div>
</div>
